.input {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  height: 3.375rem;
  padding-inline: 1rem;
  color: var(--gray-100);
  outline: none;
  border-radius: 8px;
  overflow: hidden;
}

.input:focus {
  border-color: var(--purple-700);
}
