.input {
  background: var(--gray-500);
  border: 1px solid transparent;
  height: 54px;
  padding-inline: 16px;
  color: var(--gray-100);
  outline: none;
  border-radius: 8px;
  overflow: hidden;
}

.input:focus {
  border-color: var(--purple-700);
}
