.task {
  display: flex;
  align-items: start;
  border-radius: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  gap: 1rem;
  padding: 1rem;
  transition: 0.2s all;
}

.task p {
  color: var(--gray-100);
  font-size: var(--font-sm);
}

.task button {
  margin-left: auto;
}

.taskCompleted {
  border: 1px solid var(--gray-500);
}

.taskCompleted p {
  text-decoration: line-through;
  color: var(--gray-300);
}
